<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-teamcity-index") %>>
          <a href="/docs/providers/teamcity/index.html">Teamcity Provider</a>
        </li>

        <li<%= sidebar_current("docs-teamcity-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-teamcity-datasource-agent-pool") %>>
              <a href="/docs/providers/teamcity/d/agent_pool.html">agent_pool</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-teamcity-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-teamcity-resource-agent-pool-project-attachment") %>>
              <a href="/docs/providers/teamcity/r/agent-pool-project-attachment.html">vcs_root</a>
            </li>
            <li<%= sidebar_current("docs-teamcity-resource-build-configuration") %>>
              <a href="/docs/providers/teamcity/r/build_configuration.html">build_configuration</a>
            </li>
            <li<%= sidebar_current("docs-teamcity-resource-build-template") %>>
              <a href="/docs/providers/teamcity/r/build_template.html">build_template</a>
            </li>
            <li<%= sidebar_current("docs-teamcity-resource-project") %>>
              <a href="/docs/providers/teamcity/r/project.html">project</a>
            </li>
            <li<%= sidebar_current("docs-teamcity-resource-vsc-root") %>>
              <a href="/docs/providers/teamcity/r/vcs_root.html">vcs_root</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
